<h1 class="jquery">スライドのビューを作りたい。</h1>
<h2 class="message">https://releases.jquery.com/</h2>

<h2>スライドの要</h2>
<h2>https://kenwheeler.github.io/slick/</h2>
<div id="key_visual">
  <div class="slider">
    <div><%= image_tag 'nature-1.jpg' %></div>
    <div><%= image_tag 'nature-2.jpg' %></div>
    <div><%= image_tag 'nature-3.jpg' %></div>
    <div><%= image_tag 'nature-4.jpg' %></div>
    <div><%= image_tag 'nature-5.jpg' %></div>
    <div><%= image_tag 'airport.jpg' %></div>
    <div><%= image_tag 'asia.jpg' %></div>
    <div><%= image_tag 'box1.jpg' %></div>
    <div><%= image_tag 'box2.jpg' %></div>
    <div><%= image_tag 'box3.jpg' %></div>
    <div><%= image_tag 'box4.1.jpg' %></div>
    <div><%= image_tag 'desert.jpg' %></div>
    <div><%= image_tag 'japan.jpg' %></div>
    <div><%= image_tag 'italy.jpg' %></div>
    <div><%= image_tag 'japan2.jpg' %></div>
  </div>
</div>