<!DOCTYPE html>
<html>
  <head>
    <title>CDNApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--スライドショー-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!--スライドショー-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--スライドショー-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $(function(){
        $('.jquery').on('click', function(){
          //処理の中身を書く
          $(this).css('color','red');
        });
      //同じ命名規則は反映されないから気を付けること。
        $('.message').on('click', function(){
          //処理の中身を書く
          alert("かんばれよ！！");
        });
      //スライドショー
        $('.slider').slick({
            //スライドの矢印を非表示にする
            arrows: false,
            //ドットを表示させる
            dots: true,
            //スライドショーの自動再生(カーソルが画像の上に乗るとスライドショーが止まる)
            autoplay: true,
            //マウスオーバー（マウスが上に乗っている状態）時もスライドを動かす　trueだと止まる
            pauseOnHover: false,
            //自動再生のスピード(1000→1秒、3000→3秒)
            autoplaySpeed: 1000,
        });
      });
    </script>
  </body>
</html>
